<!DOCTYPE html>
<html lang="en">

<title>提交订单信息</title>
{include file='index/header'}
<style>
    #order-pay select {
        display: block;
        padding: 0;
        height: 35px;
        width: 25%;
    }
</style>

<body id="order-pay" class="flexv">
<div id="common-header" class="flex">
    <a href="javascript:history.back()" class="cBtn back"><i class="iconfont icon-back"></i></a>
    <h1>订单付款</h1>
</div>
<form class="flexitemv scroll main" id="form" onsubmit="false" action="{:url('pay')}">
    <a href="mySite.html" class="flex address">
        <i class="flex center iconfont icon-dizhi" style="color: rgb(142, 204, 85);"></i>
        {if condition="($Think.session.postage_address neq '')"}
            <div class="flexitemv centerh message">
                <div class="name"><span>{$Think.session.postage_address.name}</span><span>{$Think.session.postage_address.phone}</span></div>
                <div class="sites"><span>{$Think.session.postage_address.province}{$Think.session.postage_address.detail}</span></div>
            </div>
            <input type="hidden" name="addressid" value="{$Think.session.postage_address.id}" data-rule="*" data-errmsg="请选择地址">
        {elseif condition="$address neq ''" /}
            <div class="flexitemv centerh message">
                <div class="name"><span>{$address.name}</span><span>{$address.phone}</span></div>
                <div class="sites"><span>{$address.province}{$address.detail}</span></div>
            </div>
            <input type="hidden" name="addressid" value="{$address.id}" data-rule="*" data-errmsg="请选择地址">
        {else /}
            <input type="hidden" name="addressid" data-rule="*" data-errmsg="请选择地址">
            <span class="flexitem center">请点击选择收货地址</span>
        {/if}
        <i class="flex center iconfont icon-go" style="color: #ccc;"></i>
    </a>

    <div class="flex goods-item">
        <a href="javascript:;" class="flexitem">
            <div class="img"><img src="__ROOT__/public/uploads/{$res.product.p_ddphoto}" alt=""></div>
            <div class="flexitemv content">
                <h2>{$res.product.p_name}</h2>
                <p>{switch name='res.i_type'}{case value='2'}标准套装{/case}{case value='1'}免费领取{/case}{case value='3'}免费体验{/case}{/switch}</p>
                <p class="flex p"><span>¥ {:round($res.product.p_price,2)}</span><em>x1</em></p>
            </div>
        </a>
    </div>
    <div class="part2">
        <div class="flex centerv item">
            <p>商品价格</p>
            <span {if condition='($res.product.p_beg_xstime lt time()) and ($res.product.p_xstime gt time())'}{else /}class="goods-price" price="{$res.product.p_price}"{/if}>¥ {:round($res.product.p_price,2)}</span>
        </div>

        {if condition='($res.product.p_beg_xstime lt time()) and ($res.product.p_xstime gt time())'}
            {if condition='($res.i_type eq 2)'}
                <div class="flex centerv item">
                    <p>活动价格</p>
                    {if condition='$res.activity eq 2'}
                        <span class="goods-price" price="{$res.product.p_xsprice * $res.product.p_price}">
                            ¥ {:round($res.product.p_xsprice * $res.product.p_price,2)}
                        </span>
                    {elseif condition='$res.activity eq 1' /}
                        <span class="goods-price" price="0.01">¥ 0.01</span>
                    {elseif condition='$res.activity eq 3' /}
                        <span class="goods-price" price="{$res.product.p_xsprice_two * $res.product.p_price}">
                            ¥ {:round($res.product.p_xsprice_two * $res.product.p_price,2)}
                        </span>
                    {else /}
                        <span class="goods-price" price="{$res.product.p_price}">
                            ¥ {:round($res.product.p_price,2)}
                        </span>
                    {/if}
                </div>
            {/if}
        {/if}

        {if condition='($res.i_type eq 2)'}
            <div class="flex centerv item">
                <p>配送费用</p>
                <span class="post-price" price="0">包邮</span>
            </div>
        {else /}
            <div class="flex centerv item">
                <p>快递费</p>
                <span class="post-price" price="0">¥ {:number_format($res.i_price, 2)}</span>
            </div>
        {/if}
        <input type="hidden" name="i_postarea" value="0">
        {if condition="($Think.session.userid neq '') and ($tz_integral gt 0)"}
        <!--<div class="flex centerv item" id="integral">-->
            <!--<p>使用积分</p>-->
            <!--<span></span>-->
            <!--<input type="hidden" name="i_uintegral" value="">&lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;使用的积分-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
            <!--<i class="iconfont icon-go" style="position: relative; top: 1px;"></i>-->
        <!--</div>-->
        {/if}

        <input type="hidden" name="id" value="{$res.id}" />
        <input type="hidden" name="i_totprice" id="i_totprice" value="" />
        {if condition='($res.i_type eq 2)'}
            <input type="hidden" id='i_postage' name="i_postage" price="0"/>
        {else /}
            <input type="hidden" id='i_postage' name="i_postage" price="{:number_format($res.i_price, 2)}"/>
        {/if}

        <div class="flex centerv item special">
            <p>合计费用：<strong class="final-price" id="totprice" price='<?php echo $res["i_postage"]+$res["spec"]["s_price"]; ?>'>¥ <?php echo $res["i_price"]+$res["i_postage"]; ?></strong></p>
        </div>
    </div>
    <div class="flex center pay">
        <a href="javascript:" class="flex center pay__alipay pay__btn alipay">支付宝支付</a>
        <a href="javascript:" class="flex center pay__weipay pay__btn wechatpay">微信支付</a>
    </div>
</form>



{js href="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"}
{js href="__INDEX__/plugins/mobile/layer.js"}
{js href="__STATIC__/js/checkform.js"}
{js href="__STATIC__/js/functions.js"}
{js href="__INDEX__/js/common.js"}
{js href="https://cdn.bootcss.com/lodash.js/4.17.4/lodash.min.js"}
</body>
<script>
    var specPrice = 0,packPrice = 0;
    if(document.querySelector('.goods-price')) {
        var goodsPrice = Number(document.querySelector('.goods-price').getAttribute('price'));
    } else {
        var goodsPrice = 0;
    }
    if(document.querySelector('.spec-price')){
        specPrice = Number(document.querySelector('.spec-price').getAttribute('price'));
    }
    if(document.querySelector('.pack-price')) {
        packPrice = Number(document.querySelector('.pack-price').getAttribute('price'));
    }
    var i_postage = Number(document.querySelector('#i_postage').getAttribute('price'));
    var p_type = {$res.i_type};
    var postage = 0;
    $('#i_postage').val(Number(goodsPrice + specPrice + packPrice + i_postage + postage).toFixed(2));
    document.querySelector('#i_totprice').value = Number(goodsPrice + specPrice + packPrice + i_postage + postage).toFixed(2);
    document.querySelector('#totprice').innerText = '¥ ' + (goodsPrice + specPrice + packPrice + i_postage + postage).toFixed(2);
    console.log(goodsPrice);console.log(specPrice);console.log(packPrice);console.log(i_postage);console.log(postage);
    /*积分使用弹出层效果*/
    if (integral) {
        integral.addEventListener('click', function () {
            if(document.querySelector('.post-price')) {
                var postPrice = Number(document.querySelector('.post-price').getAttribute('price'));
            }
            var totalPrice = goodsPrice + specPrice + packPrice + postPrice + i_postage;
            layer.open({
                content: '<div class="sl"><p class="sl-item">可使用积分<span class="total-num">{neq name="Think.session.userid" value=""}{$tz_integral}{/neq}</span></p><input type="number" name="integral" value="" placeholder="请输入本次使用积分" class="sl-item"></div>'
                , skin: 'footer'
                , btn: ['确定', '取消']
                , yes: function (index, el) {
                    var num = el.querySelector('input[name=integral]').value;

                    integral.querySelector('span').innerText = num;
                    integral.querySelector('input').value = num;
                    if((totalPrice - Number(num))==0){
                        document.querySelector('.final-price').innerText = '¥ 0.01';
                    }else{
                        document.querySelector('.final-price').innerText = '¥ ' + (totalPrice - Number(num)).toFixed(2);
                    }
                    document.querySelector('.final-price').setAttribute('price',(totalPrice - Number(num)).toFixed(2));
                    document.querySelector('#i_totprice').value = (totalPrice - Number(num)).toFixed(2);

                    layer.close(index);
                }
                , anim: 'up'
                , success: function (el) {
                    var totalNum = Number(el.querySelector('.total-num').innerText),
                        oInput = el.querySelector('input[name=integral]');

                    oInput.focus();
                    oInput.addEventListener('input', function () {
                        var currentNum = Number(oInput.value);

                        if (currentNum > totalPrice) {
                            oInput.blur();
                            oInput.value = totalPrice;
                            showMsg();
                        } else if (currentNum > totalNum) {
                            oInput.blur();
                            oInput.value = totalNum;
                            showMsg();
                        }
                    })
                }
            });
        });
    }
    /*积分使用弹出层效果结束*/

    new checkForm({
        form : '#form',
        btn : '.alipay',
        error : function (e,msg){
            showMsg(msg,0,2000);
        },
        complete : _.throttle(function (form){
            // showProgress('请稍后...');
            var url = form.getAttribute('action');
            var datas = $(form).serializeArray();
            var obj = {
                name  :  'type',
                value :   '2'
            };
            datas.push(obj);
            $.post(url,datas,function(ret){
                showMsg(ret.msg,ret.code);
                if(ret.url) setTimeout(function (){window.location.href = ret.url;},1000);
            },'json');
        }, 5000, { 'trailing': false })
    });

    new checkForm({
        form : '#form',
        btn : '.wechatpay',
        error : function (e,msg){
            showMsg(msg,0,2000);
        },
        complete : _.throttle(function (form){
            // showProgress('请稍后...');
            var url = form.getAttribute('action');
            var datas = $(form).serializeArray();
            var obj = {
                name  :  'type',
                value :   '1'
            };
            datas.push(obj);
            $.post(url,datas,function(ret){
                showMsg(ret.msg,ret.code);
                if(ret.url) setTimeout(function (){window.location.href = ret.url;},1000);
            },'json');
        }, 5000, { 'trailing': false })
    });
</script>
</html>